<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <div th:if="${jobs}">
        <h2 th:text="${jobs.size()} + ' Result(s)'"></h2>
    </div>

    <div th:each="job:${jobs}">
    <table class="job-listing">
        <tr th:each="jobInfo : ${job}">
            <th th:text="${jobInfo.key}"></th>
            <td th:text="${jobInfo.value}"></td>
        </tr>
    </table>
        <br></br>
</div>
</div>

</body>
</html>